.navContainer {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2% 20%;
  justify-content: space-between;
}
.linksName {
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
